@import "tailwindcss";

body {
    font-family: Inter;
    background-image: radial-gradient(circle, #ccc 0.5px, transparent 0.5px);
    background-size: 20px 20px;
}

#myVideo video {
    object-fit: cover;
    border-radius: 0.2rem;
}
button {
    cursor: pointer;
}